.content {
    width: 50%;
    height: 110px;
    margin: 0 auto;
}

.content button {
    padding:45%;
    line-height: 0px;
}

.title {
    font-weight: 900;
    text-align: center;
    margin: 15px 0;
    color: white;
}

.boton-juego {
    background-color: yellow;
    color: black;
}

p {
    color: white;
}

.boton {
    display:flex;
    justify-content: center;
}

.player {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700px;
    margin: 0 0 10px 0;
    align-self: center;
}

.player-1 {
    font-size: 50px;
    background-color: green;
    color:green;
}

.player-2 {
    font-size: 50px;
    background-color: red;
    color: red;
}