<div class="contenedor-principal">
    <h1 class="title mat-display-2">JUEGO 3 EN RAYA <br> Ejercicio n° 6 Pablo </h1>
    <div class="archivo mat-display-1 boton">
        <p class="status-actual mat-display-1">Comienza el juego al presionar el boton</p>
    </div>
    <div class="field boton" *ngIf="this.juego.EstadoJuego === 0">
        <button (click)="InicioJuego()" mat-raised-button class="boton-juego">Comenzar el Juego Ahora!</button>
    </div>
</div>

<div *ngIf="this.juego.EstadoJuego === 1">
    <div class="player">
        <p class="mat-body-1 player-1">Jugador 1</p>
        <p class="mat-body-1 player-2">Jugador 2</p>
    </div>
    
    <div class="content">
        <mat-grid-list cols="3" rowHeight="2:2">
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="0"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="1"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="2"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="3"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="4"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="5"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="6"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="7"></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button (click)="clickSubir($event)" position="8"></button>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
</div>